.app-bar .tool-bar{
    color: #fff;
    background-color: #333;

}

.active-button {
    background-color: #1976d2;
    color: white;
  }
  
  .active-button:hover {
    background-color: #EBA832;
  }

.app-bar .tool-bar .signbutton{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.10rem;
}